/* .main{
    display: flex;
}
.div-left{
    width: 40%;
    align-items: center;
    margin-top: 50px;
}
.div-right{
    width: 60%;
}
.heading1{
    font-size: 72px;
    height: 156px;
    width: 463px;
    line-height: 78px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 56px;
    color: #2D1500;
}
.lorem{
    width:499px;
    height: 100px;
    margin-top: 35px;
    margin-left: 61px;
    font-size: 24px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    color: #856446B2;
}
.hero-btn{
    width: 170px;
    height: 39px;
    margin-left: 57px;
    margin-top: 45px;
    color: #2D1500;
    border-radius: 10px;
    border: 1px solid;
    padding: 9px, 34px, 9px, 34px;
    border-color: #2D1500;
    background-color: #CC9544;
}

.hero-btn:hover{
    background-color: black;
    color: white;
}
.Preordr-btn:hover{
    background-color: black;
    color: white;
}
.product{
    height: 700px;
    width: 800px;
}
.container{
    height: 204px;
    width: 1222px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 150px;
}
.prebook{
    height: 270px;
    width: 1308px;
}
.prebook-heading{
    height: 85px;
    width: 650px;
    font-size: 54px;
    line-height: 84.99px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 35%;
    margin-top: 40px;
    color: #2D1500;
}
.prebook-text{
    height: 100px;
    width: 1308px;
    size: 24px;
    line-height: 25px;
    text-align: center;
    font-weight: 400;
    color: #856446B2;
    margin-left: 60px;
}
.Preordr-btn{
    height: 38px;
    width: 219px;
    background-color: #C8AE7D;
    border-radius: 10px;
    gap:10px;
    padding: 10px, 37px, 10px, 37px;
    margin-left: 50%;
}
.left-bottom{
    display: flex;
    flex-direction: row;
}
.group1{
   height: 200px;
   width: 300px;
}
.frame{
    height: 63px;
    width: 160px;
    margin-top: 15%;
    margin-left: 20%;
} */

@import 'animate.css/animate.min.css';

.main{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.goto{
    border-radius: 50%;
    background-color: #CC9544;
    width: 30px;
    height: 30px;
    margin: 60px;
    /* margin-bottom: -100px; */
    bottom: 100px;
    left: 60px;
    position: relative;
}
.div-left{
    width: 40%;
    align-items: center;
    margin-top: 50px;
    /* background-color: pink; */
}
.div-right{
    /* width: 20%; */
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    
}
.heading1{
    font-size: 72px;
    height: 156px;
    width: 463px;
    line-height: 78px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 56px;
    color: #2D1500;
}
.lorem{
    width:499px;
    height: 100px;
    margin-top: 35px;
    margin-left: 61px;
    font-size: 24px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    color: #856446B2;
}
.hero-btn{
    width: 170px;
    height: 39px;
    margin-left: 57px;
    margin-top: 45px;
    color: #2D1500;
    border-radius: 10px;
    border: 1px solid;
    padding: 9px, 34px, 9px, 34px;
    border-color: #2D1500;
    background-color: #CC9544;
}

.hero-btn:hover{
    background-color: black;
    color: white;
}
.Preordr-btn:hover{
    background-color: black;
    color: white;
}
.product{
    height: 600px;
    width: 80%;
}
.container{
    height: 204px;
    width: 1222px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 150px;
}
.prebook{
    height: 270px;
    width: 1308px;
}
.prebook-heading{
    height: 85px;
    width: 650px;
    font-size: 54px;
    line-height: 84.99px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 35%;
    margin-top: 40px;
    color: #2D1500;
}
.prebook-text{
    height: 100px;
    width: 1308px;
    size: 24px;
    line-height: 25px;
    text-align: center;
    font-weight: 400;
    color: #856446B2;
    margin-left: 60px;
}
.Preordr-btn{
    height: 38px;
    width: 219px;
    background-color: #C8AE7D;
    border-radius: 10px;
    gap:10px;
    padding: 10px, 37px, 10px, 37px;
    margin-left: 50%;
}
.left-bottom{
    display: flex;
    flex-direction: row;
    
    
}
.group1{
   height: 200px;
   width: 350px;
}
.frame{
    height: 110px;
    width: 200px;
    margin-top: 12%;
    margin-left: 10%;
}
.prebook{
    height: 270px;
    width: 1308px;
}
.prebook-heading{
    height: 85px;
    width: 650px;
    font-size: 54px;
    line-height: 84.99px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 35%;
    margin-top: 40px;
    color: #2D1500;
}
.prebook-text{
    height: 100px;
    width: 1308px;
    size: 24px;
    line-height: 25px;
    text-align: center;
    font-weight: 400;
    color: #856446B2;
    margin-left: 60px;
}
.Preordr-btn{
    height: 38px;
    width: 219px;
    background-color: #C8AE7D;
    border-radius: 10px;
    gap:10px;
    padding: 10px, 37px, 10px, 37px;
    margin-left: 50%;
}
